<?xml version="1.0"?>
<config>
    <modules>
        <Bliss_Catalog>
            <version>1.0.0.0</version>
        </Bliss_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_promotion>Bliss_Catalog_Block_Product_List_Promotion</product_list_promotion>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <bcatalog>
                <class>Bliss_Catalog_Model</class>
                <resourceModel>bcatalog_resource</resourceModel>
            </bcatalog>
            <bcatalog_resource>
                <class>Bliss_Catalog_Model_Resource</class>
            </bcatalog_resource>
        </models>
        <resources>
            <bcatalog_setup>
                <setup>
                    <module>Bliss_Catalog</module>
                    <class>Bliss_Catalog_Model_Resource_Setup</class>
                </setup>
            </bcatalog_setup>
        </resources>
        <helpers>
            <bcatalog>
                <class>Bliss_Catalog_Helper</class>
            </bcatalog>
        </helpers>
    </global>
</config>