<?xml version="1.0"?>
<config>
    <modules>
        <Bliss_Crosssellcategory>
            <version>1.0.0.1</version>
        </Bliss_Crosssellcategory>
    </modules>
    <global>
        <blocks>
            <crosssellcategory>
                <class>Bliss_Crosssellcategory_Block</class>
            </crosssellcategory>
            <checkout>
                <rewrite>
                    <cart_crosssell>Bliss_Crosssellcategory_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>
