<?xml version="1.0"?>
<config>
    <sections>
        <checkout>
            <groups>
                <cart>
                    <fields>
                        <crosssell_use_category translate="label">
                            <label>Use category for cross-sell products?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </crosssell_use_category>
                        <crosssell_category_id translate="label">
                            <label>Category ID for cross-sell products</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </crosssell_category_id>
                    </fields>
                </cart>
            </groups>
        </checkout>
    </sections>
</config>
